@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&family=Roboto:wght@300&display=swap');


/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: lightgrey;
}

/* Form-Div Center and Box shadow */
.form {
    max-width: 550px;
    background-color: #ffffff;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.4);
}

/* Form Heading  */
.form h1 {
    text-align: start;
    padding: 20px;
    font-size: x-large;
}
.small-title {
    white-space: nowrap;
    font-size: medium;
}

/* form Inputs Containers */
.forms-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.fname,
.lname,
.email,
.role,
.city,
.pincode,
.date,
.cv {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 45%;
}
.input {
    height: 1.9rem;
    border: 1px solid grey;
    padding: 3px;
    padding-left: 10px;
    border-radius: 5px;
}

textarea, .input {
    outline: none;
}

input:hover,
input:active,
input:focus,
textarea:hover,
textarea:focus,
textarea:active {
    border: 2px solid red;
}

/* Select Styling */
option {
    background-color: rgb(234, 57, 57);
    color: #ffffff;
}

/* Textarea Styling */
.address {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 93%;
}
#address {
    height: 100px;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 3px;
    padding-left: 10px;
}

/* utility Classes  */
.large {
    font-size: large;
    padding-bottom: 5px;
}

/* Button Styling */
.button-container {
    text-align: end;
}
.btn {
    padding: 5px 10px;
    font-size: medium;
    margin: 10px 20px 20px;
    background-color: red;
    color: #fff;
    border-radius: 5px;
    border: 2px solid white;
}
.btn:hover {
    background-color: #fff;
    color: red;
    border: 2px solid black;
}

/* Responsiveness */
@media screen and (max-width: 400px) {

    .fname,
    .lname,
    .email,
    .role,
    .city,
    .pincode,
    .date,
    .cv {
        width: 93%;
    }
}
